<template name="ticketComment">
	<div class="box-footer box-comments">
      <div class="box-comment">
        <!-- User image -->
        <img class="img-circle img-sm hoverZoomLink" src="../dist/img/user3-128x128.jpg" alt="user image">
        <div class="comment-text">
          <span class="username">
            Maria Gonzales
            <span class="text-muted pull-right">8:03 PM Today</span>
          </span><!-- /.username -->
          It is a long established fact that a reader will be distracted
          by the readable content of a page when looking at its layout.
        </div><!-- /.comment-text -->
      </div><!-- /.box-comment -->
    </div><!-- /.box-footer -->
</template>